@import url("https://use.typekit.net/mkp6fxe.css");

#game-over-title {
  padding-top: 18px;
  font-family: lust-script-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6d2626;
  font-size: 35px;
}

#playing-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 70px 70px 70px;
  grid-gap: 10px 10px;
  justify-self: center;
  justify-content: center;
  padding-top: 8px;
}

#new-game-button {
  margin-top: 35px;
  background-color: #78968d;
  color: #f7eddf;
  font-family: bodoni-urw, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px 12px;
}

#new-game-button:hover {
  background-color: #4f6b63;
}

@media only screen and (max-width: 500px) {
  /* For mobile: */
  #game-over-title {
    padding-top: 85px;
    font-size: 25px;
  }

  #playing-grid {
    padding-top: 25px;
  }

  #new-game-button {
    margin-top: 30px;
  }
}
