.App {
  text-align: center;
  justify-content: center;
}

body {
  background-color: #e6d5be;
}

#title {
  background-color: #f4dfc6;
  display: grid;
}

#title-solid {
  grid-column: 1;
  grid-row: 1;
  color: #e9bd84;
  font-family: rosella-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 8px;
  margin-bottom: 20px;
}

#title-deco {
  grid-column: 1;
  grid-row: 1;
  color: #826644;
  font-family: rosella-deco, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 8px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 500px) {
  /* For mobile: */
  #title-solid {
    font-size: 35px;
  }

  #title-deco {
    font-size: 35px;
  }
}
